# Problema 9

In [1]:
#install.packages("ISLR")
#install.packages("rstudioapi")
#install.packages("lmtest")
#install.packages("car")

In [2]:
library(ISLR)
library(rstudioapi)
library(lmtest)
library(car)

Warning message:
"package 'ISLR' was built under R version 3.6.3"Warning message:
"package 'rstudioapi' was built under R version 3.6.3"Warning message:
"package 'lmtest' was built under R version 3.6.3"Loading required package: zoo

Attaching package: 'zoo'

The following objects are masked from 'package:base':

    as.Date, as.Date.numeric

Loading required package: carData
Warning message:
"package 'carData' was built under R version 3.6.3"

In [3]:
#?Carseats

### Punto 1 y 2

In [4]:
datos=Carseats
head(datos)

  Sales CompPrice Income Advertising Population Price ShelveLoc Age Education
1  9.50 138        73    11          276        120   Bad       42  17
2 11.22 111        48    16          260         83   Good      65  10
3 10.06 113        35    10          269         80   Medium    59  12
4  7.40 117       100     4          466         97   Medium    55  14
5  4.15 141        64     3          340        128   Bad       38  13
6 10.81 124       113    13          501         72   Bad       78  16
  Urban US
1 Yes   Yes
2 Yes   Yes
3 Yes   Yes
4 Yes   Yes
5 Yes   No
6 No    Yes

In [5]:
datos=datos[,-c(7,10,11)] #remove non-continuous variables
head(datos)

  Sales CompPrice Income Advertising Population Price Age Education
1  9.50 138        73    11          276        120   42  17
2 11.22 111        48    16          260         83   65  10
3 10.06 113        35    10          269         80   59  12
4  7.40 117       100     4          466         97   55  14
5  4.15 141        64     3          340        128   38  13
6 10.81 124       113    13          501         72   78  16

In [6]:
reg<-lm(datos$Sales~datos$CompPrice+datos$Income+datos$Advertising+datos$Population+datos$Price+datos$Age+datos$Education)
resumen = summary(reg)
resumen

Call:
lm(formula = datos$Sales ~ datos$CompPrice + datos$Income + datos$Advertising +
    datos$Population + datos$Price + datos$Age + datos$Education)

Residuals:
    Min      1Q  Median      3Q     Max
-5.0598 -1.3515 -0.1739  1.1331  4.8304

Coefficients:
                    Estimate Std. Error t value Pr(>|t|)
(Intercept)        7.7076934  1.1176260   6.896 2.15e-11 ***
datos$CompPrice    0.0939149  0.0078395  11.980  < 2e-16 ***
datos$Income       0.0128717  0.0034757   3.703 0.000243 ***
datos$Advertising  0.1308637  0.0151219   8.654  < 2e-16 ***
datos$Population  -0.0001239  0.0006877  -0.180 0.857092
datos$Price       -0.0925226  0.0050521 -18.314  < 2e-16 ***
datos$Age         -0.0449743  0.0060083  -7.485 4.75e-13 ***
datos$Education   -0.0399844  0.0371257  -1.077 0.282142
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 1.929 on 392 degrees of freedom
Multiple R-squared:  0.5417,	Adjusted R-squared:  0.5335
F-statistic: 66.18 on 7 and 392 DF,  p-value: < 2.2e-16

In [7]:
aov=anova(reg)
aov

                  Df  Sum Sq       Mean Sq      F value     Pr(>F)
datos$CompPrice     1   13.0666859   13.0666859   3.5117751 6.167778e-02
datos$Income        1   79.0733616   79.0733616  21.2515906 5.458487e-06
datos$Advertising   1  219.3512681  219.3512681  58.9523862 1.300900e-13
datos$Population    1    0.3824026    0.3824026   0.1027737 7.486970e-01
datos$Price         1 1198.8668836 1198.8668836 322.2049460 5.144277e-53
datos$Age           1  208.6564283  208.6564283  56.0780635 4.652175e-13
datos$Education     1    4.3158913    4.3158913   1.1599299 2.821424e-01
Residuals         392 1458.5617763    3.7208209          NA           NA

In [41]:
tval= resumen$coefficients[7,3]
qt(1-(0.05/2),df=reg$df.residual)

[1] 1.966034

In [9]:
(1-pt(abs(tval),df=reg$df.residual))*2

[1] 4.751755e-13

### Punto 3

In [24]:
var=c(0,1,0,0,0,1,0,0)
theta=t(var)%*%reg$coefficients
MSE=aov$`Mean Sq`[8]
d=rep(1,400)
X=as.matrix(cbind(d,datos[,-1]))
XT=t(X)
XTX=XT%*%X
inversa=solve(XTX)
EP3=theta/sqrt(MSE%*%(t(var) %*% inversa %*%var))
EP3=EP3[1,1]
EP3

[1] 0.217445

### Punto 4

In [16]:
linearHypothesis(reg,c("datos$Age=0","datos$Education=0","datos$Population=0"),test="F")

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 395    1671.898 NA       NA        NA           NA
2 392    1458.562  3 213.3366  19.11196 1.379822e-11

### Punto 5

In [38]:
var=c(0,-10,0,5,0,-4,0,0)
theta=t(var)%*%reg$coefficients
EP5=theta/sqrt(t(var)%*%vcov(reg)%*%var)
EP5=EP5[1,1]
EP5

[1] 0.8415906

In [40]:
qt(1-(0.05),df=reg$df.residual)

[1] 1.64875

### Punto 6

In [42]:
var<-c(1,120,95,7,300,100,45,11)
theta6<-t(var)%*%reg$coefficients  

infIC<-theta6-qt(1-0.05/2,392)*sqrt((t(var)%*%vcov(reg)%*%var))
supIC<-theta6+qt(1-0.05/2,392)*sqrt((t(var)%*%vcov(reg)%*%var))
print('Intervalo de confianza')
data.frame(inferior=infIC,superior=supIC)

[1] "Intervalo de confianza"

  inferior superior
1 8.997253 9.729203

In [43]:
MSE<-aov$`Mean Sq`[8]
infIP<-theta6-qt(1-0.05/2,392)*sqrt((MSE+t(var)%*%vcov(reg)%*%var))
supIP<-theta6+qt(1-0.05/2,392)*sqrt((MSE+t(var)%*%vcov(reg)%*%var))
print('Intervalo de predicción')
data.frame(inferior=infIP,superior=supIP)

[1] "Intervalo de predicción"

  inferior superior
1 5.553242 13.17321

### Punto 7

In [33]:
var=c(1,120,95,7,300,100,45,11)-c(1,100,95,8,400,95,40,10) 
theta7=var%*%reg$coefficients
EP7=theta7/sqrt(t(var)%*%vcov(reg)%*%var)
EP7=EP7[1,1]
EP7

[1] 6.528319

### Punto 8

In [45]:
linearHypothesis(reg,c("2*datos$Age-datos$Education=0","datos$Price+datos$CompPrice=0"),test="F")

  Res.Df RSS      Df Sum of Sq F         Pr(>F)
1 394    1464.931 NA       NA         NA        NA
2 392    1458.562  2 6.369131  0.8558772 0.4257028